<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css" />
  <title>About Us</title>
  <style>
    body {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
    }
  </style>
</head>

<body background="../static/1323577.png">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#">AgroCrop</a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-tittle" id="offcanvasNavbarLabel">Logo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link mx-lg-2 active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Fertilizer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Crop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Disease</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="aboutus.html">About Us</a>
            </li>
          </ul>
        </div>
      </div>
      <a href="#" class="login-button">Login</a>
      <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span>></button>
    </div>
  </nav>
  <div>
    <br><br><br><br><br>
  </div>
  <center>
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body" style="opacity: 1;">
            <h3 class="card-title">About Us</h3>

            <p class="card-text">Welcome to AgroCrop, where we are committed to cultivating excellence in agriculture
              through cutting-edge soil quality analysis and comprehensive agronomic solutions.<br><br>
              At AgroCrop, we understand that the foundation of successful farming starts with healthy, fertile soil.
              Our mission is to empower farmers and agricultural businesses with the insights they need to maximize
              crop yield, enhance soil health, and drive sustainable practices.</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../static/agroc.png" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../static/main2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Our Mission: Helping Agriculture Sector Grow Better</h3>
            <p class="card-text">Agrocrop specializes in delivering valuable insights and data about crops, from
              planting and cultivation to harvesting and beyond. Our platform offers detailed information on crop
              varieties, growth conditions, pest management, and soil health. We utilize advanced analytics to bring you
              tailored recommendations and actionable strategies, helping you make informed decisions that enhance
              productivity and sustainability.<br><br>Agrocrop specializes in delivering valuable insights and data about crops, from planting and cultivation to harvesting and beyond.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body" style="opacity: 1;">
            <h3 class="card-title">Our Story</h3>

            <p class="card-text">Founded in 2024, Our platform offers detailed information on crop varieties, growth conditions, pest management, and soil health. We utilize advanced analytics to bring you tailored recommendations and actionable strategies, helping you make informed decisions that enhance productivity and sustainability.<br><br>While our core focus is on crop-related information, Agrocrop also excels in other areas of agriculture.</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../static/main4.jpg" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
    <center>
</body>

</html>